<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs',{title : "Detalle"}) %>

<body class="home">
   
<%- include('../partials/heder.ejs') %>
        <main>
<h1>detelle</h1>

        </main>
        <%- include('../partials/footer.ejs') %>

    
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
          </script>
    </body>

</html>