<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Kitchening!!</title>
    <!-- animate css -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/c65f2f1cc8.js" crossorigin="anonymous"></script>
</head>

<body class="home">
   

        <!-- cabecera -->
        <header class="header">
            <a href="/"><img src="img/logo.jpg" alt="logotipo" class="header__logo"></a>

            <a href="#" class="header__bars">
                <i class="fa fa-bars"></i>
            </a>

            <nav class="header__nav">
                <ul>
                    <li class="animate__animated animate__fadeInDown"><a href="/" >home</a></li>
                    <li class="animate__animated animate__fadeInDown animate__delay-1s"><a href="/contact">contacto</a></li>
                    <li class="animate__animated animate__fadeInDown animate__delay-2s"><a href="#" >quienes</a></li>
                    <li class="animate__animated animate__fadeInDown animate__delay-3s"><a href="/carrito" >carrito</a></li>
                    <li class="animate__animated animate__fadeInDown animate__delay-4s"><a href="/registro" >registrate</a></li>
                    <li class="animate__animated animate__fadeInDown animate__delay-5s"><a href="/login" >ingresar</a></li>
                </ul>
            </nav>
        </header>
        
        <main>

            <h1>login</h1>
        </main>
        <footer class="footer">
			<nav class="footer__nav">
                <ul>
                    <li ><a href="/" >home</a></li>
                    <li ><a href="/contact">contacto</a></li>
                    <li ><a href="#" >quienes</a></li>
                    <li><a href="/carrito" >carrito</a></li>
                    <li ><a href="/registro" >registrate</a></li>
                    <li ><a href="/login" >ingresar</a></li>
                </ul>
			</nav>
		</foote>
    
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
          </script>
    </body>

</html>