<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs',{title : "carrito"}) %>

<body class="home">
   
<%- include('./partials/heder.ejs') %>
  


        <main>

            <h1>carrito</h1>
        </main>
        <%- include('./partials/footer.ejs') %>


    </body>

</html>