<footer class="footer">
    <nav class="footer__nav">
        <ul>
            <li ><a href="/" >home</a></li>
            <li ><a href="/contact">contacto</a></li>
            <li ><a href="#" >quienes</a></li>
            <li ><a href="/carrito" >carrito</a></li>
            <li ><a href="/usuarios/registro" >registrate</a></li>
            <li ><a href="/usuarios/ingreso" >ingresar</a></li>
        </ul>
    </nav>
</foote>

<%- include('./scripts') %>